.frameChild,
.rectangleWrapper {
  align-self: stretch;
  max-width: 100%;
}
.frameChild {
  flex: 1;
  position: relative;
  background-color: var(--color-whitesmoke);
}
.rectangleWrapper {
  height: 443px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-8xl) 0 var(--padding-15xl);
  box-sizing: border-box;
}
.base,
.frameParent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frameParent {
  align-self: stretch;
  align-items: flex-end;
  gap: var(--gap-2xs);
  max-width: 100%;
}
.base {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  align-items: flex-start;
  gap: var(--gap-26xl);
  letter-spacing: normal;
}
@media screen and (max-width: 750px) {
  .base {
    gap: 22px 45px;
  }
}
